################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeletextRecoveryEditor/CopilotIndices/17.14.827.52834
/.vs/TeletextRecoveryEditor/FileContentIndex
